:root {
    // Palette #00204A #005792 #448EF6 #FDB44B #FEE3BD
    --accent:               #448EF6;
    --background-primary:   white;
    --background-secondary: #f0f4f5;
    --background-dark:      #2A262C;

    --text:                 #222222;
    --text-secondary:       #9D9B9E;
    --text-dark:            white;

    --border:               #434046;
}
// base
body {
    background-color: var(--background-primary);
    margin: 0;
    font-family: 'Barlow Condensed';
    color: var(--text);
}
li {
    list-style-type: none;
}

img {
    max-width: 100vw;
}



.br-mobile {
    display: none;
    @media (max-width: 768px) and (orientation: portrait) { 
        display: block;
    }
}

.l-main-wrap {
    padding: 12rem 0;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem
    }
    background-color: var(--background-dark);
    color: var(--background-primary);
}

a {
    text-decoration: none;
}
a:active {
    color: var(--accent) !important
}

// component
.c-logo {
    width: 9rem;
    object-fit: contain;
}

.c-simulation-btn {
    &-std {
        position: relative;
        bottom: unset;
        right: unset;
        margin-inline: auto;
        z-index: 999;
    }
    z-index: 1000;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--background-dark);
    position: fixed;
    box-shadow: 1rem 1rem 3rem rgba(19,22,22,.4);
    border-radius: 100vh;
    padding: 15px 25px;
    position: fixed;
    bottom: 5rem;
    right: 3rem;

    img {
        object-fit: contain;
        width: 1.5rem;
    }
    &-txt {
        color: var(--background-primary);
        margin: 0 10px;
    }
}
#c-simulation-btn {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--background-dark);
    box-shadow: 1rem 1rem 3rem rgba(19,22,22,.4);
    border-radius: 100vh;
    padding: 15px 25px;
    img {
        object-fit: contain;
        width: 1.5rem;
    }
    &-txt {
        color: var(--background-primary);
        margin: 0 10px;
    }
}

.c-link-dl-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    color: var(--accent);
    background-color: var(--background-primary);
    font-size: 14px;
    font-weight: 600;
    border-radius: 100vh;
    padding: 0.5em 2em;
    height: 2.5rem;
    cursor: pointer;
    
    img {
        filter: invert(46%) sepia(76%) saturate(1736%) hue-rotate(196deg) brightness(98%) contrast(96%);
        object-fit: contain;
        width: 1.5rem;
    }
}
.c-title {
    text-align: center;
    font-weight: 900;
    font-size: 40px;
    span {
        margin-bottom: 10px;
        display: block;
        font-size: 14px;
    }
}
.c-item-link {
    display: flex;
    &-txt {
        margin-right: 10px;
        font-size: 28px;
        font-weight: 900;
    }
    &:hover {
        cursor: pointer;
    }
}
.c-btn-plus {
    object-fit: contain;
    width: 30px;
}
.c-more-link {
    display: flex;
    text-align: center;
    color: var(--accent);
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s;
    img {
        width: 20px;
    }
    &:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
}
.c-notice-tax {
    font-size: 14px;
    margin-top: 10px;
    text-align: end;
    width: calc(40vw + 16rem + 20px);
    margin-inline: auto;
    @media (max-width: 768px) and (orientation: portrait) { 
        width: 100%;
    }
}

.c-item {
    margin-right: 20px;
    &-wrap {
        margin-top: 20px;
        display: flex;
        overflow-x: scroll;
    }

    &-img {
        height: 12rem;
        width: 20rem;
        overflow: hidden;
        border-radius: 11px;
        img {
            height: 12rem;
            width: 20rem;
            object-fit: cover;
            position: relative;
            background: var(--background-secondary);
            transition:1s;
            &:hover {
                transform: scale(1.1,1.1);
                transition:1s;
            }
        }
    }
    &-txt {
        margin-top: 20px;
        font-weight: 700;
        font-size: 15px;
        span {
            margin-bottom: 10px;
            display: block;
            font-size: 12px;
            color: #939193;
        }
    }
    &-pill {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        &-tag {
            margin: 0 3px 3px 0;
            border: solid 0.5px #dfdfdf;
            border-radius: 17px;
            width: fit-content;
            padding: 2px 6px;
            font-size: 10px;
            color: #898989;
        }
    }
}

// header
.l-header {
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 4.5rem;
    font-size: 12px;
    font-weight: 600;
    background-color: var(--background-primary);
    border-bottom: solid 1px #d2d1d2;
    &-nav {
        display: flex;
        &-item {
            display: flex;
            align-items: center;
            margin-left: 20px;
            transition: all 0.3s;
            @media (max-width: 768px) and (orientation: portrait) { 
                display: none;
            }
            &-arrow {
                object-fit: contain;
                width: 1.5rem;
                transition: all 0.3s;
                &:hover {
                    fill: var(--accent);
                    transition: all 0.3s;
                }
            }
            &:hover {
                color: var(--accent);
                transition: all 0.3s;
            }
        }
        &-sub {
            display: none;
        }
    }
    &-more {
        display: flex;
        align-items: center;
        margin-right: 40px;
        transition: all 0.3s;
        @media screen and (max-width: 768px) and (orientation: portrait) { 
            display: none;
        }
        &-login {
            transition: all 0.3s;
            &:hover {
                color: var(--accent);
                transition: all 0.3s;
            }
        }
        &-dl {
            width: fit-content;
            background-color: var(--accent);
            border-radius: 100vh;
            color: var(--background-primary);
            padding: 5px 14px;
            margin-left: 20px;
            transition: all 0.3s;
            font-size: 12px;
            &:hover {
                cursor: pointer;
                background-color: #73aaf7;
                transition: all 0.3s;
            }
        }
    }
    &-hamburger {
        display: none;
        @media (max-width: 768px) and (orientation: portrait) { 
            display: block;
            margin-right: 20px;
        }
        &-icon {
            object-fit: contain;
            width: 1.5rem;
        }
    }
}

.l-hamburger-menu {
    display: none;
    &.active {
        display: block;
    }

    position: fixed;
    left: 0;
    right: 0;
    top: calc(4.5rem + 1px);
    bottom: 0;
    background-color: var(--background-primary);
    z-index: 9999;

    overflow: scroll;
     &-item {
        color: var(--text);
        font-size: 1rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        height: 4.5rem;
        margin-inline: 2rem;
        border-top: solid 1px #d2d1d2;
        transition: all 0.3s;
        &:first-child {
            border-top: none;
        }

        &:hover {
            background-color: var(--background-secondary);
            transition: all 0.3s;
        }

        &.sub-item {
            border-bottom: none;
            padding-left: 2rem;
            font-size: 0.8rem;
            font-weight: 400;
            height: 2.5rem;
            border-top: none;
        }

        &.link {
            &::after {
                content: "";
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                object-fit: contain;
                background-image: url('/images/icon/arrow-right.svg');
                background-size: contain;

            }
        }
    }
}

// hero
.l-hero {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1400 / 730;
    margin: 87px 15px 0 15px;
    background-color: var(--accent);
    border-radius: 10px;
    @media (max-width: 768px) and (orientation: portrait) { 
        aspect-ratio: 730 / 1800;
    }
    &-inner {
        @media (max-width: 768px) and (orientation: portrait) { 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 20px;
            height: 100%;
        }
    }
    &-copy {
        position: absolute;
        top: 5rem;
        left: 7rem;
        display: flex;
        flex-direction: column;
        @media (max-width: 768px) and (orientation: portrait) { 
            position: relative;
            top: 0;
            left: 0;
            margin-top: 3rem;
        }
    }
    &-lead {
        color: var(--background-primary);
        font-weight: 900;
        font-size: 40px;
        span {
            font-size: 50px;
        }
    }
    &-phone {
        z-index: 10;
        object-fit: contain;
        height: 60%;
        position: absolute;
        top: 7rem;
        right: 3rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            position: relative;
            margin: auto;
            top: unset;
            bottom: 1rem;
        }
    }
    &-loop {
        overflow: hidden;
        position: absolute;
        bottom: 3rem;
        display: flex;
        animation: infinity-scroll-left 20s linear infinite;

        @media (max-width: 768px) and (orientation: portrait) { 
            bottom: 8rem;
        }
        &-img {
            margin: 0 30px;
            object-fit: contain;
            width: 200px;
            height: 200px;
            img {
                width: 100%;
            }
        }
    }
    &-txt {
        font-size: 16px;
        font-weight: 600;
        padding-block: 1rem;
    }
    
    &-small-txt {
        color: var(--background-primary);
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-size: 0.8rem;
    }
}

@keyframes infinity-scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

// client
.l-client{
    padding: 20px 60px;
    &-list {
        margin: 1.5rem auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        img {
            @media (max-width: 768px) and (orientation: portrait) { 
                width: 40%
            }
            &:last-child {
                margin-right: 0;
            }
        }
        &-logo {
            object-fit: contain;
            width: 110px;
            margin-right: 20px;
        }
    }
}

// about
.l-about {
    position: relative;
    height: 669px;
    margin-bottom: 2em;
    @media (max-width: 768px) and (orientation: portrait) { 
        height: calc(669px + 35rem)
    }
    &-title {
        @media (max-width: 768px) and (orientation: portrait) { 
            padding-top: 35rem
        }
    }
    &-txt {
        margin-top: 20px;
        text-align: center;
    }
    img {
        width: 200px;
        object-fit: contain;
        border-radius: 15px;
    }
    &-img1 {
        position: absolute;
        top: 5rem;
        left: 0rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            left: 2rem;
            top: 1rem;
        }
    }
    &-img2 {
        position: absolute;
        top: 13rem;
        left: 10rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            left: unset;
            right: 2rem;
            top: 13rem;
        }
    }
    &-img3 {
        position: absolute;
        bottom: 0rem;
        left: 4rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            left: unset;
            right: 6rem;
            top: 24rem;
        }
    }
    &-img4 {
        position: absolute;
        top: 3rem;
        right: 4rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            display: none;
        }
    }
    &-img5 {
        position: absolute;
        bottom: 2rem;
        right: 0rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            display: none;
        }
    }
    &-video {
        text-align: center;
        margin-top: 20px;
        position: absolute;
        margin-inline: auto;
        width: 100%;
        &-txt {
            font-size: 14px;
            font-weight: 600;
            margin-top: 20px;
        }
        a {
            color: var(--accent);
            font-size: 14px;
            display: flex;
            justify-content: center;
            img {
                object-fit: contain;
                width: 17px;
            }
        }
        &:hover {
            cursor: pointer;
        }
    }
}

// benefit
.l-benefit {
    overflow-x: hidden;
    position: relative;
    padding: 100vh 15.6rem 250vh;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 100vh 1rem 25vh;
    }
    background-color: var(--accent);
    z-index: 1;
    &-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        clip: rect(0, auto, auto, 0);
        &::before {
            content: "";
            display: block;
            width: 30rem;
            height: 30rem;
            position: fixed;
            left: 0;
            right: 0;
            top: 6rem;
            bottom: 0;
            margin: auto;
            background: url(/images/activity.svg) no-repeat;
            background-size: contain;     

            @media (max-width: 768px) and (orientation: portrait) { 
                width: 20rem;
                height: 20rem;
            }
        }
    }
    &-ttl {
        color: var(--background-primary);
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 40px;
        span {
            display: block;
            font-size: 12px;
        }
    }
    &-slider {
        z-index: auto;
        float: none;
        display: block;
        margin: 0px;
        inset: auto;
        position: relative; 
        overflow: visible;
        box-sizing: border-box;
        @media (max-width: 768px) and (orientation: portrait) { 
            height: 100%;
        }
    }
    &-list {
        display: flex;
        gap: 2.5rem;
        position: absolute;
        left: 0;

        @media (max-width: 768px) and (orientation: portrait) { 
            position: unset;
            left: unset;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
        }
    }
    &-card {
        background-color: var(--background-primary);
        border-radius: 15px;
        padding: 20px;
        width: 22.5rem;
        &-icon {
            img {
                width: 50px;
                object-fit: contain;
            }
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            margin-top: 0px;
            margin-bottom: 40px;
        }
        &-txt {
            font-weight: 500;
            margin-bottom: 20px;
        }

        &-profile {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            img {
                width: 75px;
                object-fit: contain;
                border-radius: 50%;
            }
            &-txt {
                margin-left: 14px;
                font-weight: 400;
                text-align: right;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--text-secondary);
                    display: block;
                }
            }
        }
    }
}
// feature
.l-feature {
    padding: 0 8rem;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 0
    }
    &-title {
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        margin-bottom: 5rem;
        span {
            display: block;
            font-size: 18px;
            font-weight: 300;
        }
    }
    &-row { 
        display: flex;   
        justify-content: space-between;
        align-items: center;
        gap: 22rem;
        &-reverse {
            flex-direction: row-reverse;
            & > .l-feature-item {
                margin-right: 2rem;
                margin-left: unset !important;
                @media (max-width: 768px) and (orientation: portrait) {
                    margin-right: unset !important  
                }
             }
        }

        & > .l-feature-item {
           margin-left: 2rem
        }

        @media (max-width: 768px) and (orientation: portrait) { 
            flex-direction: row-reverse;
            border-top: solid 0.5px var(--border);
         }
        margin-bottom: 5rem;

        &-top {
            margin-top: -37rem;
            @media (max-width: 768px) and (orientation: portrait) { 
                margin-top: -15rem;
            }
        }
    }
    &-img {
        width: calc(50% - 11rem - 1.5rem);
        @media (max-width: 768px) and (orientation: portrait) { 
           display: none;
        }
    }
    
    &-item {
        width: calc(50% - 11rem);
        max-width: calc(50% - 11rem);
        position: relative;

        @media (max-width: 768px) and (orientation: portrait) { 
           width: calc(60%);
           max-width: calc(60%);
           padding-top: 2rem;
        }

        &-ttle {
            font-weight: 700;
            font-size: 42px;
            margin-bottom: 20px;
            color: var(--text-secondary);
        }
        &-link {
            font-weight: 700;
            font-size: 42px;
            line-height: 1.5;
            margin-bottom: 20px;
            color: var(--background-primary);
            cursor: pointer;
        }
        &-btn {
            display: inline-block;
            line-height: 1.5;
            img {
                margin: auto ;
                height: 42px;
            }
        }
        &-txt {
            font-weight: 300;
            margin: 3rem 0 0;
            font-size: 1.6rem;
            line-height: 1.8;
        }
        &-point {
            color: var(--accent);
            font-weight: 700;
            font-size: 48px;
            margin-top: 20px;
            span {
                display: block;
                color: var(--background-secondary);
                font-size: 18px;
                font-weight: 300;

            }
        }

        &-profile {
            margin-top: 3rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;

            &-txt {
                font-weight: 400;
                span {
                    font-weight: 400;
                    font-size: 14px;
                    color: var(--text-secondary);
                    display: block;
                }
            }
            &-img {
                img {
                    width: 75px;
                    object-fit: contain;
                    border-radius: 50%;
                }
            }
        }
    }

    position: relative;
    &-phone {
        width: 22rem;
        height: auto;
        aspect-ratio: 1076 / 1628;
        position: sticky;
        top: 7rem;
        margin: auto;
        &::after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: url(../images/phone-shape.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        @media (max-width: 768px) and (orientation: portrait) { 
            margin: unset;
            top: 20rem;
            margin-right: auto;
            width: 35%;
        }

        img {
            width: 100%;
            transform: translateY(1px);
            position: absolute;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
    }
}
#screen-1 {
    opacity: 1;
}

// function
.l-function {
    padding: 0 8rem;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 0
    }
    &-container {
        border-top: solid 0.5px #787878;
    }
    &-item {
        display: flex;
        margin-top: 60px;
        @media (max-width: 768px) and (orientation: portrait) { 
            flex-direction: column;
            align-items: center;
        }
        &-inner {
            margin: auto 0;
        }
        &-img {
            margin-right: 46px;
            object-fit: cover;
            height: 389px;
            width: 477px;
            border-radius: 15px;
            @media (max-width: 768px) and (orientation: portrait) { 
                width: 100%;
                margin-right: 0;
            }
        }
    }
    &-bottom {
        margin-top: 77px;
        display: flex;
        @media (max-width: 768px) and (orientation: portrait) { 
            flex-direction: column;
            align-items: center;
        }
        &-item {
            padding: 30px;
            border-top: solid 0.5px #787878;
            @media (max-width: 768px) and (orientation: portrait) { 
                border-top: none;
            }
            &:first-child {
                @media (max-width: 768px) and (orientation: portrait) { 
                    border-top: solid 0.5px #787878;
                }
                margin-right: 20px;
            }
        }
        &-icon {
            object-fit: contain;
            width: 50px;
        }
        &-title {
            font-weight: 700;
            font-size: 24px;
            margin: 15px 0;
        }
    }
}

// hardware
.l-hardware {
    padding: 12rem 15.6rem;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem
    }
    &-product {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        @media (max-width: 768px) and (orientation: portrait) { 
            flex-direction: column;
            align-items: center;
        }
        &-item {
            padding: 4rem;
            width: 20vw;
            border: solid 0.5px #dcdcdc;
            border-radius: 11px;
            position: relative;
            &:first-child {
                margin-right: 20px;
                @media (max-width: 768px) and (orientation: portrait) { 
                    margin-right: 0;
                }
            }
            @media (max-width: 768px) and (orientation: portrait) { 
                margin-bottom: 20px;
                width: 60%;
            }
            &-link {
                position: absolute;
                bottom: 2.5rem;
            }
        }
        &-img {
            margin: 0 auto;
            object-fit: contain;
            width: 100%;
            height: 150px;
        }
        &-title {
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 20px;
            p {
                margin: 30px 0 5px 0;
                color: var(--text-secondary);
                font-weight: 500;
                font-size: 14px;

            }
        }
        &-point {
            padding: 0;
            li {
                list-style: none;
                &::before {
                    content: "";
                    display: inline-block;
                    width: 4px;
                    height: 4px;
                    background-color: var(--accent);
                    border-radius: 50%;
                    margin-right: 8px;
                    vertical-align: middle;
                }
            }
        }
        &-txt {
            font-weight: 600;
            margin-bottom: 20px;
        }
    }
    &-alert {
        margin-inline: auto;
        margin-top: 56px;
        padding: 2rem 3rem;
        display: flex;
        align-items: center;
        border: solid 0.5px #bebebe;
        background-color: #f2f2f2;
        border-radius: 11px;
        position: relative;
        max-width: 801px;
        &-txt {
            font-weight: 600;
            font-size: 18px;
            span {
                font-weight: 100;
                font-size: 15px;
                display: inline-block;
                @media (max-width: 768px) and (orientation: portrait) { 
                    padding-right: 150px;
                }
            }
        }
        &-img {
            padding: 0 40px;
            object-fit: contain;
            width: 150px;
            height: 150px;
            @media (max-width: 768px) and (orientation: portrait) { 
                width: 150px;
                padding-top: 3lh;
                right: 0;
                position: absolute;
            }
        }
    }
}

// client
.l-client-main {
    padding: 7rem 5rem;
    background-color: #f2f2f2;
    &-logo {
        &-wrap {
            margin-top: 3.5rem;
            padding: 3rem;
            text-align: center;
            background-color: var(--background-primary);
            border-radius: 11px;
            img {
                margin: 0 29px 29px 0;
                @media (max-width: 768px) and (orientation: portrait) { 
                    margin: 0 0 29px 0;
                }
                object-fit: contain;
                width: 111px;
            }
        }
    }
}

// solution
.l-solution {
    padding: 7rem 5rem;
    background-color: var(--background-dark);
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem
    }
    &-title {
        color: var(--background-primary);
        font-weight: 900;
        font-size: 40px;
        span {
            margin-bottom: 10px;
            display: block;
            font-size: 14px;
        }
    }
    &-wrap {
        margin-top: 4rem;
        display: flex;
        justify-content: space-evenly;
        gap: calc(20px);
        @media (max-width: 768px) and (orientation: portrait) { 
            flex-wrap: wrap;
            flex-direction: row;
            gap: 20px;
        }
    }
    &-item {
        &-link {
            margin: 2rem 0 0 2rem;
            align-items: center;
            display: flex;
            color: var(--background-primary);
            font-weight: 600;
            font-size: 29px;
            text-shadow: 1px 1px 5px #8e8e8e;
            img {
                width: 28px;
                margin-left: 10px;
            }
            z-index: 11;
            position: relative;
        }
    }
    &-item1, &-item2, &-item3, &-item4 {
        width: 20vw;
        height: 500px;
        position: relative;
        overflow: hidden;
        @media (max-width: 768px) and (orientation: portrait) { 
            width: calc(50% - 10px);
        }
        z-index: 10;
    }
    
    &-item1::after, &-item2::after, &-item3::after, &-item4::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
        transition: all 0.3s ease-in-out;
    }
    &-item1:hover::after, &-item2:hover::after, &-item3:hover::after, &-item4:hover::after {
        opacity: 0.1;
    }

    &-item1 {
        background-image: url(../images/example1.jpg);
        background-size: cover;
        border-radius: 15px;
    }
    &-item2 {
        background-image: url(../images/example2.jpg);
        background-size: cover;
        border-radius: 15px;
    }
    &-item3 {
        background-image: url(../images/example3.jpg);
        background-size: cover;
        border-radius: 15px;
        background-position: center;
    }
    &-item4 {
        background-image: url(../images/example4.jpg);
        background-size: cover;
        border-radius: 15px;
        background-position: bottom;
    }
}

// l-plan
.l-plan {
    padding: 7rem 6rem;
    background-color: #f2f2f2;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem
    }
    &-item {
        &-wrap {
            margin-top: 3rem;
            display: flex;
            justify-content: center;
            text-align: center;
            @media (max-width: 768px) and (orientation: portrait) { 
                flex-direction: column;
                align-items: center;
            }
        }
        width: 100%;
        border: solid 0.5px #dfdfdf;
        background-color: var(--background-primary);
        border-radius: 11px;
        &:first-child {
            margin-right: 20px;
            @media (max-width: 768px) and (orientation: portrait) { 
                margin-right: 0;
            }
        }
        &-top {
            padding: 35px 0;
            align-items: center;
            display: flex;
            border-bottom: solid 0.5px #dfdfdf;
        }
        &-title {
            font-weight: 700;
            font-size: 28px;
        }
        &-img {
            margin: 0 40px 0 20px;
            object-fit: contain;
            height: 84px;
            max-width: 89px;
        }
        &-price {
            padding: 35px 0;
            font-size: 30px;
            font-weight: 700;
            &-2 {
                margin-right: 20px;
            }
            span {
                font-size: 14px;
                padding: 0 7px;
                display: block;
                background-color: #f2f2f2;
                border-radius: 11px;
                width: fit-content;
            }
            p {
                margin: 0;
                font-size: 14px;
                font-weight: normal;
                color: #838282;
            }
            &-wrap {
                display: flex;
                justify-content: center;
            }
        }
        &-plus {
            font-size: 47px;
            display: flex;
            align-items: center;
            margin-right: 20px;
            @media (max-width: 768px) and (orientation: portrait) { 
                margin-right: 0;
            }
        }
    }
    &-alert {
        &-wrap {
            margin-top: 15px;
        }
        color: #838282;
        font-size: 14px;
    }
    &-link {
        margin: 36px 0;
        display: flex;
        justify-content: center;
    }
}

// example
.l-example {
    padding: 7rem 6rem;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem
    }
    &-link {
        margin-top: 10px;
        display: flex;
        justify-content: end;
    }
}

// QnA
.l-QnA {
    border-top: solid 0.5px #dfdfdf;
    padding: 7rem 6rem;
    display: flex;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem;
        flex-direction: column;
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
    }
    &-container {
        margin-left: 4rem;
        @media (max-width: 768px) and (orientation: portrait) { 
            margin-left: 0;
        }
    }
    &-col {
        margin-bottom: 0.5rem;
        padding: 2rem;
        border: solid 0.5px #dfdfdf;
        border-radius: 11px;
        width: 50vw;

        @media (max-width: 768px) and (orientation: portrait) { 
            width: 80%;
            margin-inline: auto;
            font-size: 18px;
        }
        font-size: 14px;
        transition: all 0.5s ease-in-out;
        &-QnA {
            margin-right: 5px;
            color: var(--accent);
            font-weight: 600;
        }
        &-question {
            padding-bottom: 0rem;
            display: flex;
            align-items: center;
            &-txt  {
                font-weight: 600;
            }
            img {
                width: 23px;
                margin-left: auto;
                transform: rotate(0deg);
            }
        }
        .active > &-question {
            padding-bottom: 2rem;
        }
        .active > &-question > img {
            transform: rotate(180deg);
        }
        .active > &-answer {
            display: flex;
        }
        &-answer {
            display: none;
            padding-top: 2rem;
            border-top: solid 0.5px #dfdfdf;
        }
        &:hover {
            border: solid 0.5px var(--accent);
            transition:0.5s;
        }
    }
}

// tip
.l-tip {
    padding: 7rem 6rem;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem
    }
    background-color: #f2f2f2;
    &-tag {
        background-color: var(--background-primary);
    }
}

// copy
.l-copy {
    padding: 5rem 0;
    @media (max-width: 768px) and (orientation: portrait) { 
        padding: 3rem 1rem;
    }
    &-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
    }
    &-icon {    
        width: 49px;
    }
    &-btn {
        margin: 2.5rem auto;
        width: fit-content;
        color: var(--background-primary);
        background-color: var(--accent);
        border-radius: 100vh;
        display: flex;
        align-items: center;
        padding: 1rem 4rem;
        font-size: 14px;
        font-weight: 600;
        img {
            width: 19px;
        }
    }
}

// footer
.l-footer {
    padding: 5rem 0;
    background-color: var(--border);
    font-size: 14px;
    font-weight: 100;
    &-logo {
        margin-left: 7rem;
    }
    &-menu {
        padding: 2rem 7rem;
        gap: 10rem;
        display: flex;
        @media (max-width: 768px) and (orientation: portrait) { 
            flex-direction: column;
            gap: 0;
        }
        &-col {
            &-title {
                margin-bottom: 15px;
                font-weight: 600;
                font-size: 16px;
                img {
                    width: 18px;
                }
                a {
                    color: var(--background-primary);
                }
            }
            &-item {
                font-weight: 400;
                font-size: 14px;
                a {
                    color: var(--text-secondary);
                }
            }
        }
    }
    ul {
        padding: 0;
    }
    &-bottom {
        padding: 1.5rem 0;
        margin: 0 7rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: solid 0.5px var(--text-secondary);
        color: var(--text-secondary);
        font-size: 16px;
        font-weight: 400;
        &-wrap {
            display: flex;
        }
    }
}
.l-sns {
    &-txt {
        margin-bottom: 10px;
        color: var(--text-secondary);
        font-size: 14px;
        font-weight: 600;
    }
    img {
        margin-right: 20px;
        width: 21px;
    }
}

// popup
.l-popup {
    display: none;
    &.active {
        display: flex;
    }
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;

    &-body {
        background-color: var(--background-primary);
        border-radius: 15px;
        margin: auto;
        max-width: 768px;
        padding: 4rem;
        margin-top: auto;
        margin-bottom: auto;
        position: relative; 
        @media (max-width: 768px) and (orientation: portrait) { 
            max-width: 60%;
        }
    }
    &-close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        height: 2rem;
        width: 2rem;
        img {
            cursor: pointer !important;
            width: 100%;
            object-fit: contain;
        }
    }
    &-title {
        font-size: 30px;
        font-weight: 700;
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    img {
        max-width: 100%;
        object-fit: contain;
    }
}