:root {
  --accent: #448EF6;
  --background-primary: white;
  --background-secondary: #f0f4f5;
  --background-dark: #2A262C;
  --text: #222222;
  --text-secondary: #9D9B9E;
  --text-dark: white;
  --border: #434046;
}

body {
  background-color: var(--background-primary);
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100vw;
}

.l-main-wrap {
  padding: 12rem 15.6rem;
  background-color: #2A262C;
  color: white;
}

.c-logo {
  width: 9rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.c-simulation-btn {
  z-index: 1000;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  background-color: #2A262C;
  position: fixed;
  box-shadow: 1rem 1rem 3rem rgba(19, 22, 22, 0.4);
  border-radius: 100vh;
  padding: 15px 25px;
  position: fixed;
  bottom: 5rem;
  right: 3rem;
}
.c-simulation-btn img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.5rem;
}
.c-simulation-btn-txt {
  color: white;
  margin: 0 10px;
}

.c-link-dl-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  color: #448EF6;
  background-color: white;
  font-size: 14px;
  border-radius: 100vh;
  padding: 7px 20px;
}
.c-link-dl-btn img {
  fill: #448EF6;
  -o-object-fit: contain;
     object-fit: contain;
  width: 3rem;
}

.c-title {
  text-align: center;
  font-weight: 900;
  font-size: 40px;
}
.c-title span {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}

.c-item-link {
  display: flex;
}
.c-item-link-txt {
  margin-right: 10px;
  font-size: 28px;
  font-weight: 900;
}
.c-item-link:hover {
  cursor: pointer;
}

.c-btn-plus {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
}

.c-more-link {
  display: flex;
  text-align: center;
  color: #448EF6;
  font-weight: 700;
}
.c-more-link img {
  width: 20px;
}
.c-more-link:hover {
  cursor: pointer;
}

.c-notice-tax {
  margin: 3rem 1rem 0 0;
  font-size: 14px;
  margin-top: 10px;
  text-align: end;
}

.l-header {
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.5rem;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  border-bottom: solid 1px #d2d1d2;
}
.l-header-nav {
  display: flex;
}
.l-header-nav-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.l-header-nav-item-arrow {
  -o-object-fit: contain;
     object-fit: contain;
  width: 1.5rem;
}
.l-header-nav-item-arrow:hover {
  fill: #448EF6;
  transition: all 0.3s;
}
.l-header-nav-item:hover {
  color: #448EF6;
  transition: all 0.3s;
}
.l-header-nav-sub {
  display: none;
}
.l-header-more {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
.l-header-more-login:hover {
  color: #448EF6;
  transition: all 0.3s;
}
.l-header-more-dl {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #448EF6;
  border-radius: 100vh;
  color: white;
  padding: 5px 10px;
  margin-left: 20px;
}
.l-header-more-dl:hover {
  cursor: pointer;
  background-color: #73aaf7;
  transition: all 0.3s;
}

.l-hero {
  overflow: hidden;
  position: relative;
  height: 669px;
  margin: 87px 15px 0 15px;
  background-color: #448EF6;
  border-radius: 10px;
}
.l-hero-copy {
  position: absolute;
  top: 5rem;
  left: 7rem;
}
.l-hero-lead {
  font-weight: 900;
  font-size: 40px;
}
.l-hero-lead span {
  font-size: 50px;
}
.l-hero-phone {
  z-index: 10;
  -o-object-fit: contain;
     object-fit: contain;
  width: 30rem;
  position: absolute;
  top: 7rem;
  right: 3rem;
}
.l-hero-loop {
  overflow: hidden;
  position: absolute;
  top: 26rem;
  display: flex;
  animation: infinity-scroll-left 25s infinite linear 0.5s both;
}
.l-hero-loop-img {
  margin: 0 30px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 14.2857142857vw;
}
.l-hero-loop-img img {
  width: 100%;
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.l-client {
  padding: 20px 60px;
}
.l-client-list {
  height: 200px;
}
.l-client-list-logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 110px;
  margin-right: 20px;
}

.l-about {
  position: relative;
  height: 669px;
}
.l-about-txt {
  margin-top: 20px;
  text-align: center;
}
.l-about img {
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}
.l-about-img1 {
  position: absolute;
  top: 5rem;
  left: 0rem;
}
.l-about-img2 {
  position: absolute;
  top: 13rem;
  left: 10rem;
}
.l-about-img3 {
  position: absolute;
  bottom: 0rem;
  left: 4rem;
}
.l-about-img4 {
  position: absolute;
  top: 3rem;
  right: 4rem;
}
.l-about-img5 {
  position: absolute;
  bottom: 2rem;
  right: 0rem;
}
.l-about-video {
  text-align: center;
  margin-top: 20px;
  position: absolute;
  top: 22rem;
  left: 30rem;
}
.l-about-video-txt a {
  display: flex;
  align-items: center;
  color: #448EF6;
  font-size: 14px;
}
.l-about-video-txt a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 17px;
}
.l-about-video:hover {
  cursor: pointer;
}

.l-function-container {
  border-top: solid 0.5px #787878;
}
.l-function-item {
  display: flex;
  margin-top: 60px;
}
.l-function-item-inner {
  margin: auto;
}
.l-function-item-img {
  margin-right: 46px;
  -o-object-fit: cover;
     object-fit: cover;
  height: 389px;
  width: 477px;
  border-radius: 15px;
}
.l-function-bottom {
  margin-top: 77px;
  display: flex;
}
.l-function-bottom-item {
  padding: 30px;
  border-top: solid 0.5px #787878;
}
.l-function-bottom-item:first-child {
  margin-right: 20px;
}
.l-function-bottom-icon {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50px;
}
.l-function-bottom-title {
  font-weight: 700;
  font-size: 24px;
  margin: 15px 0;
}

.l-hardware {
  padding: 12rem 15.6rem;
}
.l-hardware-product {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.l-hardware-product-item {
  padding: 4rem;
  width: 20vw;
  border: solid 0.5px #787878;
  border-radius: 11px;
}
.l-hardware-product-item:first-child {
  margin-right: 20px;
}
.l-hardware-product-img {
  margin: 0 20%;
  -o-object-fit: contain;
     object-fit: contain;
  width: 150px;
  height: 150px;
}
.l-hardware-product-title {
  font-weight: 600;
  font-size: 22px;
}
.l-hardware-product-title p {
  margin: 20px 0 10px 0;
  color: #434046;
  font-weight: normal;
  font-size: 14px;
}
.l-hardware-product-point {
  padding: 0;
}
.l-hardware-product-txt {
  font-weight: 600;
  margin-bottom: 20px;
}
.l-hardware-alert {
  margin-top: 56px;
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  border: solid 0.5px #bebebe;
  background-color: #f2f2f2;
  border-radius: 11px;
}
.l-hardware-alert-txt {
  font-weight: 600;
  font-size: 18px;
}
.l-hardware-alert-txt span {
  font-weight: 100;
  font-size: 15px;
}
.l-hardware-alert-img {
  padding: 0 40px;
  -o-object-fit: contain;
     object-fit: contain;
  width: 150px;
  height: 150px;
}

.l-client-main {
  padding: 7rem 5rem;
  background-color: #f2f2f2;
}
.l-client-main-logo-wrap {
  margin-top: 3.5rem;
  padding: 3rem;
  text-align: center;
  background-color: white;
  border-radius: 11px;
}
.l-client-main-logo-wrap img {
  margin: 0 29px 29px 0;
  -o-object-fit: contain;
     object-fit: contain;
  width: 111px;
}

.l-solution {
  padding: 7rem 5rem;
  background-color: #2A262C;
}
.l-solution-title {
  color: white;
  font-weight: 900;
  font-size: 40px;
}
.l-solution-title span {
  margin-bottom: 10px;
  display: block;
  font-size: 14px;
}
.l-solution-wrap {
  margin-top: 4rem;
  display: flex;
  justify-content: space-evenly;
}
.l-solution-item-link {
  margin: 2rem 0 0 2rem;
  align-items: center;
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 29px;
  text-shadow: 1px 1px 5px #8e8e8e;
}
.l-solution-item-link img {
  width: 28px;
  margin-left: 10px;
}
.l-solution-item1, .l-solution-item2, .l-solution-item3, .l-solution-item4 {
  width: 20vw;
  height: 500px;
  position: relative;
}
.l-solution-item1::after, .l-solution-item2::after, .l-solution-item3::after, .l-solution-item4::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
}
.l-solution-item1:hover::after, .l-solution-item2:hover::after, .l-solution-item3:hover::after, .l-solution-item4:hover::after {
  opacity: 0.1;
}
.l-solution-item1 {
  background-image: url(../images/example1.jpg);
  background-size: cover;
  border-radius: 15px;
}
.l-solution-item2 {
  background-image: url(../images/example2.jpg);
  background-size: cover;
  border-radius: 15px;
}
.l-solution-item3 {
  background-image: url(../images/example3.jpg);
  background-size: cover;
  border-radius: 15px;
  background-position: center;
}
.l-solution-item4 {
  background-image: url(../images/example4.jpg);
  background-size: cover;
  border-radius: 15px;
  background-position: bottom;
}/*# sourceMappingURL=style.css.map */